.uppercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  height: 150px;
  padding: 40px;
}

.box {
  border-style: solid;
  width: 30px;
  height: 30px;
}

.boxcontainer {
  display: flex;
  gap: 5px;
}

.blackbox {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: black;
  height: 100px;
  width: 100px;
}

.greenbox {
  position: relative;
  right: 0px;
  top: 0px;
  background-color: green;
  width: 30px;
  height: 30px;
}
