div {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-bottom: 10px;
  padding: 10px;
}

.blue {
  background-color: blue;
  width: 50px;
  height: 50px;
}

.test {
  background-color: blueviolet;
}
